<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Star Wars Application {% endblock %}</title>
    </head>
    <body>
        <h1>Star Wars Game</h1>
        <div id="message">
            {% block message %}{% endblock %}
        </div>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
